/* UI */
body{
    height: 100%;
    width: 100%;
    margin: 0;
    /*background: #45d678;*/
    font-family: "Press Start 2P", monospace;
    font-smooth: never;
    /*height: 90vh;*/
}
::-webkit-scrollbar{
    display: none;
}

#loader_container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #383030;
    z-index: 1;
}
#loader_container>img{
    width: 700px;
    /*    height: 150px;*/
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

/*------------------------CSS styles for Container-------------------*/
#container{
    position: relative;
    height: 90vh;
    width: 25%;
    left: 35%;
    margin-top: 20px;
    background-color: #292929;
    /*transform: scale(1.4);*/
    overflow: hidden;
}
        /*
    road
*/
.line{
    position: absolute;
    height: 150px;
    width: 4%;
    margin-left: 46%;
    background-color: rgba(255,255,255,0.5);
}
#line_1{
    top: -150px;
}

#line_2{
    top: 150px;
}

#line_3{
    top: 450px;
}

/*HERO*/
.car{
    position: absolute;
    height: 60px;
    width: 40px;
    border-radius: 5px;
    box-shadow: 0px 1px 8px 0px black;
}
#car{
    bottom: 8%;
    left: 60%;
    background-color: #ffdf5a;
}
.a_glass{
    position: absolute;
    height: 20%;
    width: 60%;
    margin-left: 20%;
    top: 15%;
    border-radius: 0px 0px 5px 5px;
    background-color: #484848;

}
.b_glass{
    position: absolute;
    height: 20%;
    width: 60%;
    margin-left: 20%;
    bottom: 15%;
    border-radius: 5px 5px 0px 0px;
    background-color: #484848;
}
.a_light_1{
    position: absolute;
    height: 10%;
    width: 20%;
    margin-left: 10%;
    top: -6%;
    border-radius: 5px 5px 0px 0px;
    background-color: #efefef;
}
.a_light_r{
    position: absolute;
    height: 10%;
    width: 20%;
    margin-left: 70%;
    top: -6%;
    border-radius: 5px 5px 0px 0px;
    background-color: #efefef;
}
.a_tyre_1{
    position: absolute;
    height: 20%;
    width: 10%;
    background-color: gray;
    top: 20%;
    left: -10%;
    border-radius: 5px 0px 0px 5px;
}
.a_tyre_r{
    position: absolute;
    height: 20%;
    width: 10%;
    background-color: gray;
    top: 20%;
    left: 100%;
    border-radius: 0px 5px 5px 0px;
}
.b_tyre_1{
    position: absolute;
    height: 20%;
    width: 10%;
    background-color: gray;
    top: 70%;
    left: -10%;
    border-radius: 5px 0px 0px 5px;
}
.b_tyre_r{
    position: absolute;
    height: 20%;
    width: 10%;
    background-color: gray;
    top: 70%;
    left: 100%;
    border-radius: 0px 5px 5px 0px;
}
#car_1{
    top: -100px;
    left: 60%;
    background-color: #26c5ff;
}
#car_2{
    top: -200px;
    left: 40%;
    background-color: #26c5ff;
}
#car_3{
    top: -350px;
    left: 50%;
    background-color: #26c5ff;
}

/*------------------------CSS styles for Hud Frame-------------------*/


/*Added CSS for SCORE area*/
#score{
    left: 45%;
}
#score::before{
    content: "SCORE";
    color: #a61a9d;
}

/*Added CSS for High Score*/
#high_score{
    left: 88%;
    width: 20%;
}
#high_score::before{
    content: "High Score";
    color: #0082df;
}

/*------------------------CSS styles for Restart Button-------------------*/
#restart_div{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #292929;
    color: white;
    font-family: sans-serif;
    font-size: 45px;
    text-align: center;
    display: none;
}
#restart{
    border: none;
    padding: 25px;
    color: white;
    background-color: #8a64ff;
    font-size: 30px;
    margin-top: 30%;
}

.small_txt{
    font-size: 15px;
}
#score_div{
    /*position: absolute;*/
    position: relative;
    /*margin-top: 20%;
    margin-left: 10%;*/
    margin-top: 0%;
    margin-left: 0%;
    font-size: 35px;
    background-color: white;
    color: #454545;
    padding: 10px;
    box-shadow: 4px 4px 0px 1px #808080;
}

#help{
    text-align: center;
}
/*#donate{
    position: absolute;
    right: 10px;
    top: 25px;
    background: rgba(255,255,255,0.8);
    padding: 12px;
}*/

/*name of the game*/
/*
h1{
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    font-size: 5em;

    background: -webkit-linear-gradient(#25d8b1, #e2bbf0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

}*/
